.logo {
    /* display flex proporciona um fluxo de layout flexível e responsivo,  */
    /* permitindo que os elementos sejam facilmente alinhados, espaçados e dimensionados */
    /* atraves dele, conseguimos usar o align-items, justify-content, flex-grow, entre outros */
    display: flex;
    font-size: 30px;
}

.logo img {
    margin-right: 10px;;
}